node_modules

__pycache__

.venv

out

*.sh
*.vsix

.DS_Store

response.json

github_matplotlib_audit.csv
matplotlib_noncontextual_flaw_assessment.csv
matplotlib_contextual_flaw_assessment.csv

GEMINI_API_KEY.*
HUGGINGFACE_HUB_TOKEN.*
GITHUB_TOKEN.*
VSCE_PAT.*
AWS_Secrets.*