@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}

:root {
    --color-primary: #599d5d;
    --color-secondary: #C1C7CE;
    --color-green: #31ab48;
    --color-gray: #757575;
    --color-lightgray: #C7C7C7;
    --color-bg-light: #F7F8F9;
    --color-border-light: #DADADA;
    --color-border-bottom: #C1C7CE;

    --border-radius: 0.625rem;
}