.errorContainer {
    display: block;
    margin: -4.5rem auto auto;
    padding-bottom: 2rem;
    text-align: center;
    width: 100vw;
}

.errorMessage {
    color: #D20000;
    font-size: 1.2rem;
}