.sectionHeaderContainer {
   display: flex;
   flex-direction: column;
}

.sectionHeader {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 0 2.5rem;
   margin: 1.5rem 0 .2rem;
   background: #005293;
   height: 3.125rem;
}

.label {
   font-size: 1.5rem;
   font-weight: 500;
   letter-spacing: 5%;
   color: white;
}

.description {
   padding: 1rem 12rem;
   font-style: italic;
   font-size: 1rem;
}